@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.blockly-workspace {
  height: 50vh;
  width: 80vw;
}
