body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.blockly-workspace {
  height: 50vh;
  width: 80vw;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

#gameMap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#game03-display {
  display: flex;
  height: 30px;
  width: 80%;
  align-items: center;
  background-color: grey;
}