body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.blockly-workspace {
  height: 50vh;
  width: 80vw;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

#gameMap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#game03-display {
  display: flex;
  height: 30px;
  width: 80%;
  align-items: center;
  background-color: grey;
}
.popUp {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.popUp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.popUp-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popUp-header .close-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.popUp-body {
  padding: 10px 15px;
  align-items: center;
  display: flex;
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

